.login-page-container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-wrapper{
    height: 30rem;
    width: 25rem;
    border: 1px solid var(--icon-color);
    background-color: var(--clr-border-color-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    line-height: 4rem;
}
.input-box{
    width: 80%;
    margin-top: 1rem;
    background-color: var(--clr-page-bg);
    height: 2.7rem;
    border-color: var(--white);
    font-size: 1.2rem;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.input-box:hover{
    border-color: var(--icon-color);
}
.login-button, .demo-login-button{
    width: 80%;
    height: 2.5rem;
    background-color: var(--clr-page-bg);
    font-size: 1.2rem;
    color: var(--white);
    margin: 10px;
    border-color: var(--icon-color);
    border-radius: 5px;
}
.login-tilte{
    color: var(--icon-color);
}
.login-button:hover, .demo-login-button:hover{
    color: var(--icon-color);
}
.new-account{
    font-size: 1.1rem;
    color: var(--icon-color);
}
.new-account:hover{
    color: var(--white);
    text-decoration: underline;
}
.error-input{
    font-size: 1.1rem;
    color: red;
}