.suggest-card{
    display: flex;
    gap: 1rem;
    
}
.suggestion-card-wrapper{
    box-shadow: 0px 0px 6px rgb(190, 190, 190);
    background-color: var(--clr-border-color-3);
    height: 8rem;
    width: 90%;
    margin: 20px;
}
.suggestion-card-image img{
    width: 14rem;
    height: 8rem;
}