.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(139, 139, 139);
     background-color: var(--clr-border-color-3);
}
.sidebar-icon{
    color: var(--icon-color);
}
.home-heading{
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: 700;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-link{
    color: var(--icon-color);

}
.login-section{
    font-size: 1.5rem;
    margin-right: 2rem;
    font-weight: 600;
    gap: 2rem;
    color: var(--icon-color);
}
.search-bar input{
    padding: 5px;
    font-size: 1rem;
    width: 20rem;
    height: 3rem;
    background-color: var(--clr-page-bg);
}
.search-button{
    padding: 0.9rem;
    background-color: var(--clr-page-bg);
    border-color: var(--icon-color);
    color: var(--icon-color);
}
.login{
    color: var(--icon-color);
    
}
.bell{
    margin-right: 2rem;
}
.search-input-box{
    border-color: var(--icon-color);
    color: white;
}
@media only screen and (max-width: 700px) {
    .search-bar input {
        padding: 3px;
        width: 12rem;
        height: 2rem;
    }
    .search-button{
        padding: 6px;
    }
    .home-heading{
        font-size: 1.5rem;
    }
    .login-section{
        font-size: 1rem;
        gap: 1rem;
        margin-right: 1rem;
    }
    
  }